@media (max-width: 768px) {
  @font-face {
    font-family: Inter;
    src: url("media/github/Inter-VariableFont_slnt,wght.ttf");
  }

  html {
    font-family: Inter, sans-serif;
  }

  section {
    background-image: url("media/header-illsutration-mobile@2x.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .Nav-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
  }

  #logo {
    margin-right: 10px;
  }

  ul {
    list-style-type: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .nav-list {
    display: none;
    flex-wrap: wrap;
  }

  .title {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  #main-title {
    color: dark blue;
    font-size: 40px;
    text-align: center;
    margin: 0;
  }

  #second-title {
    color: green;
    font-size: 40px;
    text-align: center;
    margin: 0;
  }

  p {
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }

  ul.social-icons {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  .social-icons li {
    margin: 0 10px;
  }
}
